<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Sans-serif;
        }

        .property-info-table {
            border-top: 1px solid grey;
            width: 100%;
            max-width: 900px;
        }

        .img-container {
            float: left;
        }

        .property-name {
            font-size: 1.40em;
            font-weight: bold;
            color: #0065b8;
        }

        .property-pricing {
            text-align: right;
        }

        .original-price {
            color: #616161;
            text-decoration: line-through;
            font-size: 1.70em;
        }

        .offer-price {
            font-size: 1.70em;
        }

        .rate-per-night-text {
            font-size: 0.85em;
            color: #656565;
        }

        .rate-per-night-price {
            font-size: 1.10em;
        }

        .search {
            float: top;
        }

    </style>
    <script type="text/javascript">
        function findPlace(theForm) {
            return true;
        }
    </script>
</head>

<body>

<div class="search">
    <form action="#" onsubmit="return findPlace(this);">
      I'm looking for a place near <input type="text" name="destinationName">
      between <input type="date" name="minTripStartDate">
      to <input type="date" name="maxTripStartDate">
      for  <input type="number" name="lengthOfStay" min="1" max="21"> nights<br/>
      <p></p>
      <input type="submit" value="Let's go">
      <p></p>
    </form>

</div>

<% for(var i=0; i<offers.Hotel.length; i++) { %>
    <div>
        <table class="property-info-table">
            <tr>
            <td colspan="3">
                <a class="property-name" href="<%= decodeURIComponent(offers.Hotel[i].hotelUrls.hotelInfositeUrl) %>"><%= offers.Hotel[i].hotelInfo.hotelName %></a><br/>
            </td>
            </tr>
            <tr>
            <td>
                <img class="img-container" src="<%= offers.Hotel[i].hotelInfo.hotelImageUrl %>"/>
            </td>
            <td>
                Destination:<b><%= offers.Hotel[i].destination.shortName %></b><br/>
                <b>Available from</b>:
                <%= offers.Hotel[i].offerDateRange.travelStartDate[2] %>/<%= offers.Hotel[i].offerDateRange.travelStartDate[1] %>/<%= offers.Hotel[i].offerDateRange.travelStartDate[0] %>
                <b>to:</b>
                <%= offers.Hotel[i].offerDateRange.travelEndDate[2] %>/<%= offers.Hotel[i].offerDateRange.travelEndDate[1] %>/<%= offers.Hotel[i].offerDateRange.travelEndDate[0] %>
                <br/>
                <%= offers.Hotel[i].hotelInfo.hotelStarRating %> Stars rating<br/>
                <%= offers.Hotel[i].hotelInfo.hotelGuestReviewRating %> guest rating<br/>
            </td>
            <td class="property-pricing">
                <p>
                    <span class="original-price">$<%= offers.Hotel[i].hotelPricingInfo.crossOutPriceValue %></span>
                    <span class="offer-price">$<%= offers.Hotel[i].hotelPricingInfo.totalPriceValue %></span>
                </p>
                <p><span class="rate-per-night-text">rate per night</span> <span class="rate-per-night-price">$<%= offers.Hotel[i].hotelPricingInfo.averagePriceValue %><span></p>
            </td>
            </tr>
        </table>
    </div>
<% } %>
</body>
</html>
